<form [formGroup]="_form">
	<fieldset>
		<legend>{{formLabel}}</legend>
		<div>
      <div class="container">
	      <button type="button" (click)="_addGroup()">
          add nested group
        </button>

	      <button type="button" (click)="_addCondition()">
          add condition
        </button>

        <button type="button" [disabled]="isDisabled()" (click)="_addEvse()">
          add EVSE
        </button>

	      <button type="button" (click)="remove.emit()">
          delete group
        </button>
      </div>
     

			<ng-container formArrayName="conditions">
        <app-condition-form *ngFor="let c of _conditionsFormArray?.controls; index as j" 
                            (remove)="_deleteCondition(j)"
                            [formControlName]="j" 
                            [formLabel]="'Condition ' + (j+1)">
        </app-condition-form>
			</ng-container>

	    <ng-container formArrayName="evses">
        <app-evse-form *ngFor="let c of _evsesFormArray?.controls; index as k" 
                            (remove)="_deleteEvse(k)"
                            [formControlName]="k" 
                            [formLabel]="'EVSE ' + (k+1)">
        </app-evse-form>
			</ng-container>

			<ng-container formArrayName="groups">
        <app-group-control *ngFor="let s of _groupsFormArray?.controls; index as i"
                            (remove)="_deleteGroupFromArray(i)" 
                            [formControlName]="i"
                            [formLabel]="'Nested Group '+ (i + 1) + ':'">
        </app-group-control>
			</ng-container>

		</div>
	</fieldset>
</form>